* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#header {
	padding-top: 5px;
    padding-bottom: 10px;
    border-bottom: solid 1px #AAAAAA;
}

#sidebar {
	position: absolute;
	left: 10px;
	top: 80px;
	bottom: 20px;
	width: 260px;
	border:solid 1px #CCCCCC;
	overflow-y: scroll;
}

#content {
    position: absolute;
   	top: 80px;
   	bottom: 20px;
   	left:300px;
   	right:20px;
}

.form-left-col {
	width:310px;
    float: left;
}

.form-right-col {
}

ul {
	list-style-type: none;
	padding-left: 5px;
	margin-top: 5px;
}

li a {
	text-decoration:none;
	display: block;
	
	color:#0000FF;
	border-bottom:solid 1px #CCCCCC;
	padding: 5px;
}

li a:hover {
	color: #000000;
	text-decoration:none;
}

input, textarea {
  border:1px solid #ccc;
  min-height:30px;
  outline: none;
}

.form-left-col input {
  margin-bottom:15px;
  margin-top:5px;
  width:280px;
}

textarea {
	margin-bottom:15px;
  	margin-top:5px;
	height: 200px;
  	width:250px;
}

label {
	display:block;
}

button {
	padding:6px;
}

body {
  background: url(../images/bg-sky.png);
  background-repeat: repeat !important;
  background-attachment: fixed;
}

ul.rel-results {
  list-style-type:none;
  font-size:14px;
}

.nojs {
  padding:2px;
  padding-left:6px;
  margin-bottom:5px;
  background:#ff0000;
  color:#ffffff;
  font-size:15px;
  border:1px solid #ff0000;
  border-radius:5px;
}

.outerdiv {
  margin-top:60px;
}

.span-style {
  font-size:17px;
}

.search-bar {
  width:100%;
  max-width:500px;
  margin-bottom: 25px;
}

.bar-style {
  background: #337AB7;
  color: rgb(250,250,250);
}

.related-results {
  -moz-animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}

.movie-poster {
  float:left;
  width: 150px;
  margin-right: 10px;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

.span-outer {
  font-size:20px;
}

.outer-p {
  margin-top: 10px;
}

.inner-p {
  margin:2px;
}

.outer-p-2 {
  margin-top: 5px;
}

.outer-p-3 {
  margin-top: 15px;
}

.divider{
  margin: 0 8px 0 8px;
}

.divider:before {
  content: "|";
}
.footer {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 11px;
    color: #333;
    position:absolute;
    bottom:5px;
    right:10px;
    text-align: right;
    margin: 0;
}
footer, 
 .footer > a:link, 
.footer > a:visited, 
.footer > a:active {
    color: #333;
    text-decoration: none;
}
#blocker{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    background-color: #000;
    z-index: 1000;
    overflow: auto;
}
    #blocker div
    {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 5em;
        height: 2em;
        margin: -1em 0 0 -2.5em;
        color: #fff;
        font-weight: bold;
		font-size:12px;
    }