<!--<div class="container">
    <h2> Welcome </h2>
    <p>{{message}}</p>
    <a href="#/viewStudents"> View Students List</a>
</div>-->

<div id="main-info" class="col-md-6">


	<span style="font-size:12px">Search: <span style="font-size:12px">Showing {{(contacts|filter:search).length}} of {{contacts.length}}</span></span>
       <input type="text" ng-model="search" class="form-control" placeholder="Enter full movie name" autofocus />
	  <hr>
	<div style="display:none"><input type="text" readonly="readonly" ng-model="searchmore" class="form-control"/></div>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th ng-click="sort('_id')">Id <span class="glyphicon sort-icon" ng-show="sortKey=='_id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
            <th ng-click="sort('title')">Title <span class="glyphicon sort-icon" ng-show="sortKey=='title'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
            <th ng-click="sort('genre')">Genre <span class="glyphicon sort-icon" ng-show="sortKey=='genre'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
        </thead>
        <tbody>
          <tr ng-repeat="contact in contacts|orderBy:sortKey:reverse|filter:search" ng-click="viewMoreInfo(contact)" style="cursor:pointer">
            <td>{{contact._id}}</td>
            <td>{{contact.title}}</td>
            <td>{{contact.genre}}</td>
          </tr>
        </tbody>
      </table>
	
   
	</div>
	
    <div id="related-results" ng-include="'views/related-results.html'" class="col-md-4 related-results">  </div>