  More Info:
<div ng-if="!conts">
 Select a movie to view more Information...
</div>

<div ng-if="conts.Response==='True'">
 <img ng-src="{{ conts.Poster }}" class="thumbnail  movie-poster">

  <span class="span-outer">
    <a href="http://imdb.com/title/{{ conts.imdbID }}" target="_blank">{{ conts.Title }}</a>
  </span>, {{ conts.Year }}

  <p><strong>Released on:</strong> {{ conts.Released }} ({{ conts.Runtime }})</p>

  <p>{{ conts.Plot }}</p>

  <p class="outer-p">
    <div class="inner-p">
      <span class="label label-primary">Directors :</span> {{ conts.Director }}
    </div>
    <div class="inner-p">
      <span class="label label-primary">Actors :</span> {{ conts.Actors }}
    </div>
    <div class="inner-p">
      <span class="label label-primary">Genre :</span> {{ conts.Genre }}
    </div>
  </p>

  <p class="outer-p-2">Ratings:<br>
    <strong>IMDb Rating</strong>: <span class="label label-success">{{ conts.imdbRating }}</span><br>
    <strong>Rotten Tomatoes</strong>: <span class="label label-success">{{ conts.tomatoRating }}</span>
  </p>

  <p class="outer-p-3">
    <a ng-href="https://www.youtube.com/results?search_query={{ conts.Title }}" target="_blank" class="btn btn-default btn-xs btn-info">Watch Trailers!</a>
    <span class="divider"></span>
    <a ng-href="http://subscene.com/subtitles/title?q={{ conts.Title }}" target="_blank" class="btn btn-default btn-xs btn-info">Get Subtitles!</a>
    <span class="divider"></span>
    <a ng-href="http://www.theost.com/search/custom/?key={{ conts.Title }}" target="_blank" class="btn btn-default btn-xs btn-info">Hear Soundtracks!</a>
    <span class="divider"></span>
    <a ng-href="http://www.amazon.in/s/ref=nb_sb_noss_1?url=search-alias%3Ddvd&field-keywords={{ conts.Title }}" target="_blank" class="btn btn-default btn-xs btn-info">Buy this movie!</a>
  </p>
</div>

<div ng-if="conts.Response==='False'">
  No results found.
</div>






